In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
data = pd.read_csv(os.path.join('Invistico_Airline.csv'))
data

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,0,0,47,1,2,50,4,2,4,...,3,3,4,1,3,2,4,3,0,0.0
1,satisfied,0,0,55,1,1,50,4,4,4,...,5,5,3,4,3,4,4,5,0,0.0
2,satisfied,0,0,59,1,2,50,4,5,5,...,4,4,4,4,5,5,4,4,0,3.0
3,satisfied,0,0,66,1,2,50,1,1,1,...,4,4,3,3,4,3,5,4,0,0.0
4,satisfied,0,0,63,1,2,50,4,3,3,...,4,4,4,4,4,3,4,2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119606,satisfied,1,0,44,0,0,6907,5,5,5,...,4,3,2,3,4,4,4,4,0,0.0
119607,dissatisfied,0,0,57,1,2,6924,3,4,3,...,3,3,1,5,1,3,3,3,12,17.0
119608,satisfied,0,0,45,0,0,6948,1,1,1,...,1,3,3,5,4,1,3,1,0,13.0
119609,satisfied,1,0,46,0,0,6950,1,1,1,...,4,1,3,5,5,4,3,4,0,0.0
119610,dissatisfied,1,1,42,0,0,6951,2,2,2,...,1,3,3,4,5,1,4,1,1,25.0

In [3]:
data2 = data.dropna(how='any')
data2

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,0,0,47,1,2,50,4,2,4,...,3,3,4,1,3,2,4,3,0,0.0
1,satisfied,0,0,55,1,1,50,4,4,4,...,5,5,3,4,3,4,4,5,0,0.0
2,satisfied,0,0,59,1,2,50,4,5,5,...,4,4,4,4,5,5,4,4,0,3.0
3,satisfied,0,0,66,1,2,50,1,1,1,...,4,4,3,3,4,3,5,4,0,0.0
4,satisfied,0,0,63,1,2,50,4,3,3,...,4,4,4,4,4,3,4,2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119606,satisfied,1,0,44,0,0,6907,5,5,5,...,4,3,2,3,4,4,4,4,0,0.0
119607,dissatisfied,0,0,57,1,2,6924,3,4,3,...,3,3,1,5,1,3,3,3,12,17.0
119608,satisfied,0,0,45,0,0,6948,1,1,1,...,1,3,3,5,4,1,3,1,0,13.0
119609,satisfied,1,0,46,0,0,6950,1,1,1,...,4,1,3,5,5,4,3,4,0,0.0
119610,dissatisfied,1,1,42,0,0,6951,2,2,2,...,1,3,3,4,5,1,4,1,1,25.0

In [4]:
# Assign X (data) and y (target)
X = data2.drop("satisfaction", axis=1)
y = data2["satisfaction"]
print(X.shape, y.shape)

(119255, 22) (119255,)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

length = len(X_train)

In [6]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=length)
classifier

LogisticRegression(max_iter=89441)

In [7]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=89441)

In [8]:
classifier.coef_

array([[-9.18839024e-01, -2.28455613e+00, -3.72390137e-03,
        -8.92714436e-01, -3.98166210e-01, -9.15891804e-05,
         5.74411854e-01, -4.48127137e-01,  1.92451482e-01,
        -4.37844816e-02, -1.04859407e-01,  8.78432066e-01,
         8.32524110e-02,  2.97813674e-01,  3.67451263e-01,
         2.89520024e-01,  1.13227058e-01,  3.23954640e-01,
         7.60329595e-02,  1.94295019e-01,  2.59423394e-03,
        -7.06070999e-03]])

In [9]:
feature_names = list(X.columns)

In [10]:
pip install eli5

Collecting eli5
  Using cached eli5-0.11.0-py2.py3-none-any.whl (106 kB)
Collecting tabulate>=0.7.7
  Using cached tabulate-0.8.9-py3-none-any.whl (25 kB)
Requirement already satisfied: numpy>=1.9.0 in c:\users\jingd\anaconda3\envs\finalproject\lib\site-packages (from eli5) (1.17.0)
Requirement already satisfied: jinja2 in c:\users\jingd\anaconda3\envs\finalproject\lib\site-packages (from eli5) (2.11.2)
Requirement already satisfied: six in c:\users\jingd\anaconda3\envs\finalproject\lib\site-packages (from eli5) (1.15.0)
Requirement already satisfied: scikit-learn>=0.20 in c:\users\jingd\anaconda3\envs\finalproject\lib\site-packages (from eli5) (0.23.1)
Requirement already satisfied: scipy in c:\users\jingd\anaconda3\envs\finalproject\lib\site-packages (from eli5) (1.5.0)
Collecting graphviz
  Using cached graphviz-0.16-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: attrs>16.0.0 in c:\users\jingd\anaconda3\envs\finalproject\lib\site-packages (from eli5) (19.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jingd\anaconda3\envs\finalproject\lib\site-packages (from jinja2->eli5) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jingd\anaconda3\envs\finalproject\lib\site-packages (from scikit-learn>=0.20->eli5) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\jingd\anaconda3\envs\finalproject\lib\site-packages (from scikit-learn>=0.20->eli5) (0.16.0)
Installing collected packages: tabulate, graphviz, eli5
Successfully installed eli5-0.11.0 graphviz-0.16 tabulate-0.8.9
Note: you may need to restart the kernel to use updated packages.

In [11]:

import eli5
eli5.show_weights(classifier, feature_names = feature_names)

In [12]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8648159121655616
Testing Data Score: 0.8650298517475011

In [13]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['satisfied' 'satisfied' 'dissatisfied' 'dissatisfied' 'satisfied'
 'satisfied' 'satisfied' 'dissatisfied' 'dissatisfied' 'satisfied']
First 10 Actual labels: ['satisfied', 'satisfied', 'satisfied', 'dissatisfied', 'satisfied', 'satisfied', 'satisfied', 'dissatisfied', 'satisfied', 'satisfied']

In [14]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

          Prediction        Actual
11398      satisfied     satisfied
105733     satisfied     satisfied
83618   dissatisfied     satisfied
81612   dissatisfied  dissatisfied
1945       satisfied     satisfied
...              ...           ...
65946   dissatisfied  dissatisfied
113196     satisfied     satisfied
12931      satisfied  dissatisfied
77404   dissatisfied     satisfied
40827   dissatisfied  dissatisfied

[29814 rows x 2 columns]

In [15]:
import joblib
joblib.dump(classifier,'fulldata.pkl')

['fulldata.pkl']