In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
data = pd.read_csv(os.path.join('Invistico_Airline.csv'))
data

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,0,0,47,1,2,50,4,2,4,...,3,3,4,1,3,2,4,3,0,0.0
1,satisfied,0,0,55,1,1,50,4,4,4,...,5,5,3,4,3,4,4,5,0,0.0
2,satisfied,0,0,59,1,2,50,4,5,5,...,4,4,4,4,5,5,4,4,0,3.0
3,satisfied,0,0,66,1,2,50,1,1,1,...,4,4,3,3,4,3,5,4,0,0.0
4,satisfied,0,0,63,1,2,50,4,3,3,...,4,4,4,4,4,3,4,2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119606,satisfied,1,0,44,0,0,6907,5,5,5,...,4,3,2,3,4,4,4,4,0,0.0
119607,dissatisfied,0,0,57,1,2,6924,3,4,3,...,3,3,1,5,1,3,3,3,12,17.0
119608,satisfied,0,0,45,0,0,6948,1,1,1,...,1,3,3,5,4,1,3,1,0,13.0
119609,satisfied,1,0,46,0,0,6950,1,1,1,...,4,1,3,5,5,4,3,4,0,0.0
119610,dissatisfied,1,1,42,0,0,6951,2,2,2,...,1,3,3,4,5,1,4,1,1,25.0

In [3]:
data2 = data.dropna(how='any')
data2

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,0,0,47,1,2,50,4,2,4,...,3,3,4,1,3,2,4,3,0,0.0
1,satisfied,0,0,55,1,1,50,4,4,4,...,5,5,3,4,3,4,4,5,0,0.0
2,satisfied,0,0,59,1,2,50,4,5,5,...,4,4,4,4,5,5,4,4,0,3.0
3,satisfied,0,0,66,1,2,50,1,1,1,...,4,4,3,3,4,3,5,4,0,0.0
4,satisfied,0,0,63,1,2,50,4,3,3,...,4,4,4,4,4,3,4,2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119606,satisfied,1,0,44,0,0,6907,5,5,5,...,4,3,2,3,4,4,4,4,0,0.0
119607,dissatisfied,0,0,57,1,2,6924,3,4,3,...,3,3,1,5,1,3,3,3,12,17.0
119608,satisfied,0,0,45,0,0,6948,1,1,1,...,1,3,3,5,4,1,3,1,0,13.0
119609,satisfied,1,0,46,0,0,6950,1,1,1,...,4,1,3,5,5,4,3,4,0,0.0
119610,dissatisfied,1,1,42,0,0,6951,2,2,2,...,1,3,3,4,5,1,4,1,1,25.0

In [4]:
# Assign X (data) and y (target)
X = data2.drop("satisfaction", axis=1)
y = data2["satisfaction"]
print(X.shape, y.shape)

(119255, 22) (119255,)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

length = len(X_train)

In [6]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=length)
classifier

LogisticRegression(max_iter=89441)

In [7]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=89441)

In [8]:
classifier.coef_

array([[-1.12315280e+00, -2.79685379e+00, -5.04825762e-03,
        -1.16091245e+00, -3.16673826e-01, -8.23632309e-05,
         5.76260955e-01, -4.43363770e-01,  2.28022463e-01,
        -6.73924480e-02, -9.02957233e-02,  8.57191883e-01,
         7.59480392e-02,  2.25155769e-01,  3.77102601e-01,
         2.98229626e-01,  1.60254645e-01,  3.09552951e-01,
         1.26404127e-01,  2.23696489e-01,  3.29172651e-03,
        -7.92498344e-03]])

In [9]:
feature_names = list(X.columns)

In [10]:
pip install eli5

^C
Note: you may need to restart the kernel to use updated packages.

In [11]:

import eli5
eli5.show_weights(classifier, feature_names = feature_names)

ModuleNotFoundError: No module named 'eli5'

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [ ]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

In [ ]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

In [ ]:
import joblib
joblib.dump(data2,'fulldata.pkl')