In [1]:
import pandas as pd
import numpy as np

# Read the CSV and Perform Basic Data Cleaning

In [2]:
df = pd.read_csv("../Invistico_Airline.csv")
df.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,47,Personal Travel,Eco,50,4,2,4,...,3,3,4,1,3,2,4,3,0,0.0
1,satisfied,Female,Loyal Customer,55,Personal Travel,Eco Plus,50,4,4,4,...,5,5,3,4,3,4,4,5,0,0.0
2,satisfied,Female,Loyal Customer,59,Personal Travel,Eco,50,4,5,5,...,4,4,4,4,5,5,4,4,0,3.0
3,satisfied,Female,Loyal Customer,66,Personal Travel,Eco,50,1,1,1,...,4,4,3,3,4,3,5,4,0,0.0
4,satisfied,Female,Loyal Customer,63,Personal Travel,Eco,50,4,3,3,...,4,4,4,4,4,3,4,2,0,0.0

In [5]:
df.shape

(119255, 23)

In [4]:
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()

# Select features (columns)

In [6]:
data_test = df.copy()

In [7]:
data_test["satisfaction"].unique()

array(['satisfied', 'dissatisfied'], dtype=object)

In [8]:
data_test.columns

Index(['satisfaction', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes'],
      dtype='object')

In [9]:
data_test.describe()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
count,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000
mean,39.856157,1994.709144,2.950451,3.132758,2.987455,3.001828,3.260836,3.467385,3.539902,3.504692,3.476751,3.523022,3.708893,3.332011,3.717915,3.365041,14.824552,15.273758
std,15.027477,1038.057310,1.297718,1.395171,1.331106,1.311234,1.312094,1.251510,1.296922,1.293870,1.267173,1.269207,1.140020,1.260195,1.137143,1.293982,38.158017,38.679817
min,7.000000,50.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,28.000000,1359.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,40.000000,1941.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,0.000000,0.000000
75%,51.000000,2571.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.000000,12.500000,13.000000
max,85.000000,6951.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [10]:
data_test = data_test[['satisfaction', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class', 
                       'Seat comfort', 'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
                       'Inflight wifi service', 'Inflight entertainment', 'Online support',
                       'Ease of Online booking', 'On-board service', 'Leg room service',
                       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding']]

In [11]:
data_test.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding
0,satisfied,Female,Loyal Customer,47,Personal Travel,Eco,4,2,4,3,3,4,3,3,4,1,3,2,4,3
1,satisfied,Female,Loyal Customer,55,Personal Travel,Eco Plus,4,4,4,2,5,4,5,5,3,4,3,4,4,5
2,satisfied,Female,Loyal Customer,59,Personal Travel,Eco,4,5,5,5,4,4,4,4,4,4,5,5,4,4
3,satisfied,Female,Loyal Customer,66,Personal Travel,Eco,1,1,1,1,4,4,4,4,3,3,4,3,5,4
4,satisfied,Female,Loyal Customer,63,Personal Travel,Eco,4,3,3,3,3,1,4,4,4,4,4,3,4,2

In [12]:
data_test.shape

(119255, 20)

In [13]:
# Assign X (data) and y (target)

target = data_test["satisfaction"]
target_names = ['satisfied', 'dissatisfied']

data = data_test.drop("satisfaction", axis=1)
feature_names = data.columns

In [7]:
feature_names

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient',
       'Food and drink', 'Gate location', 'Inflight wifi service',
       'Inflight entertainment', 'Online support', 'Ease of Online booking',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes'],
      dtype='object')

# Columns encoding

In [14]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

In [15]:
test2 = data.copy()

In [16]:
test2.head()

,Gender,Customer Type,Age,Type of Travel,Class,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding
0,Female,Loyal Customer,47,Personal Travel,Eco,4,2,4,3,3,4,3,3,4,1,3,2,4,3
1,Female,Loyal Customer,55,Personal Travel,Eco Plus,4,4,4,2,5,4,5,5,3,4,3,4,4,5
2,Female,Loyal Customer,59,Personal Travel,Eco,4,5,5,5,4,4,4,4,4,4,5,5,4,4
3,Female,Loyal Customer,66,Personal Travel,Eco,1,1,1,1,4,4,4,4,3,3,4,3,5,4
4,Female,Loyal Customer,63,Personal Travel,Eco,4,3,3,3,3,1,4,4,4,4,4,3,4,2

In [17]:
test2.shape

(119255, 19)

In [18]:
label_encoder.fit(test2["Gender"])
label_encoder.classes_

array(['Female', 'Male'], dtype=object)

In [19]:
test2["Gender"] = label_encoder.transform(test2["Gender"])

In [20]:
label_encoder.fit(test2["Customer Type"])
label_encoder.classes_

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [21]:
test2["Customer Type"] = label_encoder.transform(test2["Customer Type"])

In [22]:
label_encoder.fit(test2["Type of Travel"])
label_encoder.classes_

array(['Business travel', 'Personal Travel'], dtype=object)

In [23]:
test2["Type of Travel"] = label_encoder.transform(test2["Type of Travel"])

In [24]:
label_encoder.fit(test2["Class"])
label_encoder.classes_

array(['Business', 'Eco', 'Eco Plus'], dtype=object)

In [25]:
test2["Class"] = label_encoder.transform(test2["Class"])

In [26]:
test2.head()

,Gender,Customer Type,Age,Type of Travel,Class,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding
0,0,0,47,1,1,4,2,4,3,3,4,3,3,4,1,3,2,4,3
1,0,0,55,1,2,4,4,4,2,5,4,5,5,3,4,3,4,4,5
2,0,0,59,1,1,4,5,5,5,4,4,4,4,4,4,5,5,4,4
3,0,0,66,1,1,1,1,1,1,4,4,4,4,3,3,4,3,5,4
4,0,0,63,1,1,4,3,3,3,3,1,4,4,4,4,4,3,4,2

In [27]:
print(test2.shape, target.shape)

(119255, 19) (119255,)

# Create a Train Test Split

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(test2, target, random_state=42)

In [30]:
X_train.head()

,Gender,Customer Type,Age,Type of Travel,Class,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding
17178,0,0,57,0,1,3,4,4,4,4,4,3,3,3,3,3,4,3,2
79798,1,0,40,0,1,2,5,5,5,2,2,2,2,4,4,4,2,2,2
110009,0,0,72,0,0,2,1,5,5,2,2,2,2,2,2,2,1,2,4
19623,1,0,55,0,0,4,4,4,4,2,4,4,5,5,5,5,4,5,4
10275,1,0,56,0,0,4,4,5,4,4,1,5,5,5,5,5,1,5,1

# Train the Model

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [62]:
model = RandomForestClassifier(n_estimators=200)

model = model.fit(X_train, y_train)

In [63]:
training_score = model.score(X_train, y_train)

In [65]:
testing_score = model.score(X_test, y_test)

In [67]:
print(f"Training Data Score: {training_score}")
print(f"Testing Data Score: {testing_score}")

Training Data Score: 0.9999888194452209
Testing Data Score: 0.9579392231837391

In [33]:
# get importance
importance = model.feature_importances_

In [34]:
importance

array([0.02656939, 0.04586446, 0.03015603, 0.02663446, 0.03059516,
       0.03501746, 0.10565562, 0.02606437, 0.02569278, 0.02532867,
       0.01790674, 0.20241428, 0.07010674, 0.08762092, 0.05000925,
       0.04843173, 0.02848317, 0.02454099, 0.02652181, 0.03657439,
       0.01436355, 0.01544803])

In [35]:
importance_list = sorted(zip(model.feature_importances_, feature_names), reverse=True)

In [36]:
importance_list

[(0.20241428163333502, 'Inflight entertainment'),
 (0.10565561714017108, 'Seat comfort'),
 (0.08762092123667742, 'Ease of Online booking'),
 (0.0701067390576579, 'Online support'),
 (0.05000924697908458, 'On-board service'),
 (0.048431734247217785, 'Leg room service'),
 (0.04586445884483463, 'Customer Type'),
 (0.03657439105452306, 'Online boarding'),
 (0.035017457856353275, 'Flight Distance'),
 (0.030595160601857716, 'Class'),
 (0.030156032823987197, 'Age'),
 (0.02848317380839288, 'Baggage handling'),
 (0.026634463124085725, 'Type of Travel'),
 (0.026569390762486423, 'Gender'),
 (0.026521808212204536, 'Cleanliness'),
 (0.02606436995081641, 'Departure/Arrival time convenient'),
 (0.025692776233178144, 'Food and drink'),
 (0.025328667235448223, 'Gate location'),
 (0.024540994879311984, 'Checkin service'),
 (0.017906738417598066, 'Inflight wifi service'),
 (0.015448027568132225, 'Arrival Delay in Minutes'),
 (0.014363548332645743, 'Departure Delay in Minutes')]

In [38]:
# make predictions
predictions = model.predict(X_test)

In [39]:
predictions

array(['dissatisfied', 'dissatisfied', 'dissatisfied', ..., 'satisfied',
       'satisfied', 'satisfied'], dtype=object)

In [42]:
test_res = pd.DataFrame({"Prediction": predictions, "Actual": y_test})

In [43]:
test_res["test"] = np.where(
    test_res['Prediction'] == test_res['Actual'], 1, np.where(
    test_res['Prediction'] != test_res['Actual'], 0, -1))

In [44]:
test_res

         Prediction        Actual  test
71407  dissatisfied  dissatisfied     1
72827  dissatisfied  dissatisfied     1
8559   dissatisfied  dissatisfied     1
58465  dissatisfied  dissatisfied     1
70326  dissatisfied  dissatisfied     1
...             ...           ...   ...
17695     satisfied     satisfied     1
74939  dissatisfied  dissatisfied     1
28550     satisfied     satisfied     1
73489     satisfied     satisfied     1
82628     satisfied     satisfied     1

[29814 rows x 3 columns]

In [45]:
test_res.loc[test_res['test'] == 0]

         Prediction        Actual  test
60213  dissatisfied     satisfied     0
36847  dissatisfied     satisfied     0
51546  dissatisfied     satisfied     0
82529  dissatisfied     satisfied     0
6404   dissatisfied     satisfied     0
...             ...           ...   ...
60760  dissatisfied     satisfied     0
88183     satisfied  dissatisfied     0
35088  dissatisfied     satisfied     0
43877     satisfied  dissatisfied     0
52548     satisfied  dissatisfied     0

[1324 rows x 3 columns]

In [47]:
test_res.loc[test_res['test'] == 1]

         Prediction        Actual  test
71407  dissatisfied  dissatisfied     1
72827  dissatisfied  dissatisfied     1
8559   dissatisfied  dissatisfied     1
58465  dissatisfied  dissatisfied     1
70326  dissatisfied  dissatisfied     1
...             ...           ...   ...
17695     satisfied     satisfied     1
74939  dissatisfied  dissatisfied     1
28550     satisfied     satisfied     1
73489     satisfied     satisfied     1
82628     satisfied     satisfied     1

[28490 rows x 3 columns]

# Save the Model

In [42]:
import joblib

In [73]:
filename = 'ML_random_forest_200.pkl'

In [69]:
joblib.dump(model, filename, compress=2)

['ML_random_forest_200t.pkl']

In [44]:
test_row = X_train.iloc[1,:].copy()

In [45]:
test_row

Gender                                1
Customer Type                         0
Age                                  40
Type of Travel                        0
Class                                 1
Seat comfort                          2
Departure/Arrival time convenient     5
Food and drink                        5
Gate location                         5
Inflight wifi service                 2
Inflight entertainment                2
Online support                        2
Ease of Online booking                2
On-board service                      4
Leg room service                      4
Baggage handling                      4
Checkin service                       2
Cleanliness                           2
Online boarding                       2
Name: 79798, dtype: int64

In [46]:
df.iloc[79585,:]

satisfaction                            dissatisfied
Gender                                          Male
Customer Type                         Loyal Customer
Age                                               40
Type of Travel                       Business travel
Class                                            Eco
Flight Distance                                 2322
Seat comfort                                       2
Departure/Arrival time convenient                  5
Food and drink                                     5
Gate location                                      5
Inflight wifi service                              2
Inflight entertainment                             2
Online support                                     2
Ease of Online booking                             2
On-board service                                   4
Leg room service                                   4
Baggage handling                                   4
Checkin service                                    2
Cleanliness                                        2
Online boarding                                    2
Departure Delay in Minutes                       250
Arrival Delay in Minutes                         258
Name: 79798, dtype: object

In [74]:
# load trained model
trained_model = joblib.load(filename)

In [48]:
# Generate a new data point using test row
new_data = np.array(test_row)
new_data = new_data.reshape(1, -1)

In [51]:
new_data

array([[ 1,  0, 40,  0,  1,  2,  5,  5,  5,  2,  2,  2,  2,  4,  4,  4,
         2,  2,  2]], dtype=int64)

In [75]:
prediction = trained_model.predict(new_data)

In [76]:
prediction[0]

'dissatisfied'