In [2]:
import pandas as pd
import numpy as np

# Read the CSV and Perform Basic Data Cleaning

In [3]:
df = pd.read_csv("../Invistico_Airline.csv")
df.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,47,Personal Travel,Eco,50,4,2,4,...,3,3,4,1,3,2,4,3,0,0.0
1,satisfied,Female,Loyal Customer,55,Personal Travel,Eco Plus,50,4,4,4,...,5,5,3,4,3,4,4,5,0,0.0
2,satisfied,Female,Loyal Customer,59,Personal Travel,Eco,50,4,5,5,...,4,4,4,4,5,5,4,4,0,3.0
3,satisfied,Female,Loyal Customer,66,Personal Travel,Eco,50,1,1,1,...,4,4,3,3,4,3,5,4,0,0.0
4,satisfied,Female,Loyal Customer,63,Personal Travel,Eco,50,4,3,3,...,4,4,4,4,4,3,4,2,0,0.0

In [6]:
df.shape

(119255, 23)

In [5]:
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()

# Select features

### only demo data

In [7]:
data_test = df.copy()

In [8]:
data_test["satisfaction"].unique()

array(['satisfied', 'dissatisfied'], dtype=object)

In [9]:
data_test.columns

Index(['satisfaction', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes'],
      dtype='object')

In [10]:
data_test.describe()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
count,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000
mean,39.856157,1994.709144,2.950451,3.132758,2.987455,3.001828,3.260836,3.467385,3.539902,3.504692,3.476751,3.523022,3.708893,3.332011,3.717915,3.365041,14.824552,15.273758
std,15.027477,1038.057310,1.297718,1.395171,1.331106,1.311234,1.312094,1.251510,1.296922,1.293870,1.267173,1.269207,1.140020,1.260195,1.137143,1.293982,38.158017,38.679817
min,7.000000,50.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,28.000000,1359.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,40.000000,1941.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,0.000000,0.000000
75%,51.000000,2571.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.000000,12.500000,13.000000
max,85.000000,6951.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [16]:
data_test = data_test[['satisfaction', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class', 'Flight Distance']]

In [17]:
data_test.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance
0,satisfied,Female,Loyal Customer,47,Personal Travel,Eco,50
1,satisfied,Female,Loyal Customer,55,Personal Travel,Eco Plus,50
2,satisfied,Female,Loyal Customer,59,Personal Travel,Eco,50
3,satisfied,Female,Loyal Customer,66,Personal Travel,Eco,50
4,satisfied,Female,Loyal Customer,63,Personal Travel,Eco,50

In [18]:
data_test.shape

(119255, 7)

In [19]:
# Assign X (data) and y (target)

target = data_test["satisfaction"]
target_names = ['satisfied', 'dissatisfied']

data = data_test.drop("satisfaction", axis=1)
feature_names = data.columns

### female/male only

In [230]:
male = df.loc[df["Gender"] == "Male", :].copy()

In [231]:
male.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
11,satisfied,Male,Loyal Customer,43,Business travel,Business,50,2,2,4,...,2,4,4,4,4,4,4,5,0,0.0
12,satisfied,Male,Loyal Customer,56,Business travel,Business,50,1,1,1,...,5,4,4,4,5,4,4,5,0,0.0
15,satisfied,Male,Loyal Customer,43,Business travel,Business,50,1,1,1,...,4,5,5,5,4,5,5,5,0,0.0
17,satisfied,Male,Loyal Customer,52,Business travel,Business,50,1,1,1,...,4,5,5,5,5,4,5,3,0,0.0
25,dissatisfied,Male,Loyal Customer,41,Business travel,Business,51,2,3,4,...,3,1,1,1,2,2,1,2,0,0.0

In [232]:
male.shape

(58788, 23)

In [233]:
del male["Gender"]

### Type of Travel

In [329]:
personal_travel = df.loc[df["Type of Travel"] == "Personal Travel", :].copy()

In [330]:
personal_travel.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,47,Personal Travel,Eco,50,4,2,4,...,3,3,4,1,3,2,4,3,0,0.0
1,satisfied,Female,Loyal Customer,55,Personal Travel,Eco Plus,50,4,4,4,...,5,5,3,4,3,4,4,5,0,0.0
2,satisfied,Female,Loyal Customer,59,Personal Travel,Eco,50,4,5,5,...,4,4,4,4,5,5,4,4,0,3.0
3,satisfied,Female,Loyal Customer,66,Personal Travel,Eco,50,1,1,1,...,4,4,3,3,4,3,5,4,0,0.0
4,satisfied,Female,Loyal Customer,63,Personal Travel,Eco,50,4,3,3,...,4,4,4,4,4,3,4,2,0,0.0

In [331]:
personal_travel.shape

(36810, 23)

In [332]:
del personal_travel["Type of Travel"]

### Customer Type

In [437]:
disloyal_customer = df.loc[df["Customer Type"] == "disloyal Customer", :].copy()

In [438]:
disloyal_customer.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
89,satisfied,Male,disloyal Customer,79,Business travel,Business,54,4,4,4,...,4,3,3,4,3,4,3,5,4,4.0
1888,dissatisfied,Female,disloyal Customer,80,Business travel,Business,207,2,2,2,...,4,1,1,2,1,3,1,2,0,0.0
2182,dissatisfied,Female,disloyal Customer,80,Business travel,Business,220,4,4,4,...,4,1,1,4,1,4,1,4,5,2.0
2632,satisfied,Female,disloyal Customer,80,Business travel,Business,236,2,1,1,...,2,5,5,2,5,3,5,3,12,0.0
3109,dissatisfied,Male,disloyal Customer,77,Business travel,Business,251,4,4,4,...,3,5,5,4,5,1,5,2,36,21.0

In [439]:
disloyal_customer.shape

(19180, 23)

In [440]:
del disloyal_customer["Customer Type"]

### Class

In [ ]:
['Business', 'Eco', 'Eco Plus']

In [596]:
eco_plus_class = df.loc[df["Class"] == "Eco Plus", :].copy()

In [597]:
eco_plus_class.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
1,satisfied,Female,Loyal Customer,55,Personal Travel,Eco Plus,50,4,4,4,...,5,5,3,4,3,4,4,5,0,0.0
5,dissatisfied,Female,Loyal Customer,54,Personal Travel,Eco Plus,50,3,5,3,...,4,1,1,3,1,1,1,5,0,0.0
24,dissatisfied,Female,Loyal Customer,44,Personal Travel,Eco Plus,51,4,5,4,...,2,2,2,4,2,4,2,3,40,45.0
40,satisfied,Female,Loyal Customer,56,Personal Travel,Eco Plus,52,4,4,4,...,5,3,3,4,5,4,3,4,0,0.0
43,satisfied,Female,Loyal Customer,51,Personal Travel,Eco Plus,52,4,4,4,...,4,4,4,5,4,5,4,3,1,0.0

In [598]:
eco_plus_class.shape

(8780, 23)

In [599]:
del eco_plus_class["Class"]

In [600]:
satisfied = eco_plus_class.loc[eco_plus_class['satisfaction'] == "satisfied"].count()[0]

In [601]:
satisfied

3639

In [602]:
dissatisfied = eco_plus_class.loc[eco_plus_class['satisfaction'] == "dissatisfied"].count()[0]

In [603]:
dissatisfied

5141

In [604]:
sat_pct = satisfied/len(eco_plus_class)

In [605]:
sat_pct

0.41446469248291573

In [606]:
dissat_pct = dissatisfied/len(eco_plus_class)

In [607]:
dissat_pct

0.5855353075170843

In [9]:
df["satisfaction"].unique()

array(['satisfied', 'dissatisfied'], dtype=object)

In [7]:
target = df["satisfaction"]
target_names = ['satisfied', 'dissatisfied']

data = df.drop("satisfaction", axis=1)
feature_names = data.columns

In [7]:
feature_names

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient',
       'Food and drink', 'Gate location', 'Inflight wifi service',
       'Inflight entertainment', 'Online support', 'Ease of Online booking',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes'],
      dtype='object')

# Columns encoding

In [12]:
# test = data.copy()

# data_binary_encoded = pd.get_dummies(test)
# data_binary_encoded.head()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Arrival Delay in Minutes,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
0,47,50,4,2,4,3,3,4,3,3,...,0.0,1,0,1,0,0,1,0,1,0
1,55,50,4,4,4,2,5,4,5,5,...,0.0,1,0,1,0,0,1,0,0,1
2,59,50,4,5,5,5,4,4,4,4,...,3.0,1,0,1,0,0,1,0,1,0
3,66,50,1,1,1,1,4,4,4,4,...,0.0,1,0,1,0,0,1,0,1,0
4,63,50,4,3,3,3,3,1,4,4,...,0.0,1,0,1,0,0,1,0,1,0

In [10]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

In [8]:
test2 = data.copy()

In [12]:
label_encoder.fit(test2["Gender"])
label_encoder.classes_

array(['Female', 'Male'], dtype=object)

In [13]:
test2["Gender"] = label_encoder.transform(test2["Gender"])

In [14]:
label_encoder.fit(test2["Customer Type"])
label_encoder.classes_

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [15]:
test2["Customer Type"] = label_encoder.transform(test2["Customer Type"])

In [16]:
label_encoder.fit(test2["Type of Travel"])
label_encoder.classes_

array(['Business travel', 'Personal Travel'], dtype=object)

In [17]:
test2["Type of Travel"] = label_encoder.transform(test2["Type of Travel"])

In [18]:
label_encoder.fit(test2["Class"])
label_encoder.classes_

array(['Business', 'Eco', 'Eco Plus'], dtype=object)

In [19]:
test2["Class"] = label_encoder.transform(test2["Class"])

In [20]:
test2.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,0,47,1,1,50,4,2,4,3,...,3,3,4,1,3,2,4,3,0,0.0
1,0,0,55,1,2,50,4,4,4,2,...,5,5,3,4,3,4,4,5,0,0.0
2,0,0,59,1,1,50,4,5,5,5,...,4,4,4,4,5,5,4,4,0,3.0
3,0,0,66,1,1,50,1,1,1,1,...,4,4,3,3,4,3,5,4,0,0.0
4,0,0,63,1,1,50,4,3,3,3,...,4,4,4,4,4,3,4,2,0,0.0

In [21]:
print(test2.shape, target.shape)

(119255, 22) (119255,)

In [85]:
test2.describe()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
count,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,...,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000,119255.000000
mean,0.492960,0.160832,39.856157,0.308666,0.587372,1994.709144,2.950451,3.132758,2.987455,3.001828,...,3.539902,3.504692,3.476751,3.523022,3.708893,3.332011,3.717915,3.365041,14.824552,15.273758
std,0.499953,0.367377,15.027477,0.461945,0.624193,1038.057310,1.297718,1.395171,1.331106,1.311234,...,1.296922,1.293870,1.267173,1.269207,1.140020,1.260195,1.137143,1.293982,38.158017,38.679817
min,0.000000,0.000000,7.000000,0.000000,0.000000,50.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,0.000000,0.000000,28.000000,0.000000,0.000000,1359.000000,2.000000,2.000000,2.000000,2.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,0.000000,0.000000,40.000000,0.000000,1.000000,1941.000000,3.000000,3.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,0.000000,0.000000
75%,1.000000,0.000000,51.000000,1.000000,1.000000,2571.000000,4.000000,4.000000,4.000000,4.000000,...,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,4.000000,12.500000,13.000000
max,1.000000,1.000000,85.000000,1.000000,2.000000,6951.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

### One-hot encoding

In [1]:
# import tensorflow as tf

In [2]:
# from keras.utils import to_categorical

In [79]:
# test2["Gender"] = to_categorical(test2["Gender"])

In [42]:
# from sklearn.preprocessing import LabelEncoder

# label_encoder = LabelEncoder()

# data = selected_features.copy()

# label_encoder.fit(data["koi_disposition"])
# label_encoder.classes_

In [43]:
# # Assign X (data) and y (target)

# data = selected_features.drop("koi_disposition", axis=1)
# feature_names = data.columns

# target = selected_features["koi_disposition"]
# target_names = ['CANDIDATE', 'CONFIRMED', 'FALSE POSITIVE']

# print(data.shape, target.shape)

# Create a Train Test Split

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(test2, target, random_state=42)

In [23]:
X_train.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
17178,0,0,57,0,1,786,3,4,4,4,...,3,3,3,3,3,4,3,2,0,0.0
79798,1,0,40,0,1,2322,2,5,5,5,...,2,2,4,4,4,2,2,2,250,258.0
110009,0,0,72,0,0,3589,2,1,5,5,...,2,2,2,2,2,1,2,4,16,16.0
19623,1,0,55,0,0,924,4,4,4,4,...,4,5,5,5,5,4,5,4,0,0.0
10275,1,0,56,0,0,473,4,4,5,4,...,5,5,5,5,5,1,5,1,0,8.0

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [ ]:
# Scale your data

# Train the Model

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [56]:
model = RandomForestClassifier(n_estimators=600)

model = model.fit(X_train, y_train)

In [57]:
training_score = model.score(X_train, y_train)

In [58]:
training_score

1.0

In [59]:
testing_score = model.score(X_test, y_test)

In [60]:
testing_score

0.9563627825853626

In [61]:
print(f"Training Data Score: {training_score}")
print(f"Testing Data Score: {testing_score}")

Training Data Score: 1.0
Testing Data Score: 0.9563627825853626

In [31]:
# model_test_results = pd.DataFrame([{"Model": "forest, regular encoding", "Training Data Score": training_score, "Testing Data Score": testing_score}])

In [32]:
# model_test_results

                      Model  Training Data Score  Testing Data Score
0  forest, regular encoding                  1.0            0.955591

In [33]:
# get importance
importance = model.feature_importances_

In [34]:
importance

array([0.02656939, 0.04586446, 0.03015603, 0.02663446, 0.03059516,
       0.03501746, 0.10565562, 0.02606437, 0.02569278, 0.02532867,
       0.01790674, 0.20241428, 0.07010674, 0.08762092, 0.05000925,
       0.04843173, 0.02848317, 0.02454099, 0.02652181, 0.03657439,
       0.01436355, 0.01544803])

In [131]:
# # We can sort the features by their importance
# sorted(zip(model.feature_importances_, feature_names), reverse=True)

[(0.4009968642422105, 'Inflight entertainment'),
 (0.14010672636980318, 'Seat comfort'),
 (0.07734925364459362, 'Ease of Online booking'),
 (0.05043992053568016, 'Customer Type'),
 (0.038780910944882147, 'Type of Travel'),
 (0.031168258051562234, 'Flight Distance'),
 (0.029879618777159736, 'Gate location'),
 (0.023137306605652372, 'Age'),
 (0.02174869837531689, 'Online support'),
 (0.02132584047842765, 'Class'),
 (0.018647265995619756, 'Departure/Arrival time convenient'),
 (0.018304412178444876, 'Checkin service'),
 (0.01764176494110095, 'Gender'),
 (0.01712106500626089, 'Cleanliness'),
 (0.016705420968268426, 'Baggage handling'),
 (0.016072466777369683, 'Leg room service'),
 (0.013042974596841587, 'Arrival Delay in Minutes'),
 (0.011333922128694761, 'Food and drink'),
 (0.010738319423471558, 'Online boarding'),
 (0.009913297044832436, 'On-board service'),
 (0.00903103414302885, 'Departure Delay in Minutes'),
 (0.006514658770777929, 'Inflight wifi service')]

In [35]:
importance_list = sorted(zip(model.feature_importances_, feature_names), reverse=True)

In [36]:
importance_list

[(0.20241428163333502, 'Inflight entertainment'),
 (0.10565561714017108, 'Seat comfort'),
 (0.08762092123667742, 'Ease of Online booking'),
 (0.0701067390576579, 'Online support'),
 (0.05000924697908458, 'On-board service'),
 (0.048431734247217785, 'Leg room service'),
 (0.04586445884483463, 'Customer Type'),
 (0.03657439105452306, 'Online boarding'),
 (0.035017457856353275, 'Flight Distance'),
 (0.030595160601857716, 'Class'),
 (0.030156032823987197, 'Age'),
 (0.02848317380839288, 'Baggage handling'),
 (0.026634463124085725, 'Type of Travel'),
 (0.026569390762486423, 'Gender'),
 (0.026521808212204536, 'Cleanliness'),
 (0.02606436995081641, 'Departure/Arrival time convenient'),
 (0.025692776233178144, 'Food and drink'),
 (0.025328667235448223, 'Gate location'),
 (0.024540994879311984, 'Checkin service'),
 (0.017906738417598066, 'Inflight wifi service'),
 (0.015448027568132225, 'Arrival Delay in Minutes'),
 (0.014363548332645743, 'Departure Delay in Minutes')]

In [ ]:
eco_plus_class

In [37]:
forest_regular_all = pd.DataFrame(data=importance_list,columns=['feature_importances_', 'feature_names'])

In [38]:
forest_regular_all

    feature_importances_                      feature_names
0               0.202414             Inflight entertainment
1               0.105656                       Seat comfort
2               0.087621             Ease of Online booking
3               0.070107                     Online support
4               0.050009                   On-board service
5               0.048432                   Leg room service
6               0.045864                      Customer Type
7               0.036574                    Online boarding
8               0.035017                    Flight Distance
9               0.030595                              Class
10              0.030156                                Age
11              0.028483                   Baggage handling
12              0.026634                     Type of Travel
13              0.026569                             Gender
14              0.026522                        Cleanliness
15              0.026064  Departure/Arrival time convenient
16              0.025693                     Food and drink
17              0.025329                      Gate location
18              0.024541                    Checkin service
19              0.017907              Inflight wifi service
20              0.015448           Arrival Delay in Minutes
21              0.014364         Departure Delay in Minutes

In [39]:
forest_regular_all.to_csv("forest_regular_all.csv", index=False)

In [40]:
predictions = model.predict(X_test)

In [41]:
predictions

array(['dissatisfied', 'dissatisfied', 'dissatisfied', ..., 'satisfied',
       'satisfied', 'satisfied'], dtype=object)

In [42]:
test_res = pd.DataFrame({"Prediction": predictions, "Actual": y_test})

In [43]:
test_res["test"] = np.where(
    test_res['Prediction'] == test_res['Actual'], 1, np.where(
    test_res['Prediction'] != test_res['Actual'], 0, -1))

In [44]:
test_res

         Prediction        Actual  test
71407  dissatisfied  dissatisfied     1
72827  dissatisfied  dissatisfied     1
8559   dissatisfied  dissatisfied     1
58465  dissatisfied  dissatisfied     1
70326  dissatisfied  dissatisfied     1
...             ...           ...   ...
17695     satisfied     satisfied     1
74939  dissatisfied  dissatisfied     1
28550     satisfied     satisfied     1
73489     satisfied     satisfied     1
82628     satisfied     satisfied     1

[29814 rows x 3 columns]

In [45]:
test_res.loc[test_res['test'] == 0]

         Prediction        Actual  test
60213  dissatisfied     satisfied     0
36847  dissatisfied     satisfied     0
51546  dissatisfied     satisfied     0
82529  dissatisfied     satisfied     0
6404   dissatisfied     satisfied     0
...             ...           ...   ...
60760  dissatisfied     satisfied     0
88183     satisfied  dissatisfied     0
35088  dissatisfied     satisfied     0
43877     satisfied  dissatisfied     0
52548     satisfied  dissatisfied     0

[1324 rows x 3 columns]

In [46]:
number_nok = test_res.loc[test_res['test'] == 0].count()[0]

In [71]:
# model_test_results["number_nok"] = test.loc[test['test'] == 0].count()[0]

In [47]:
test_res.loc[test_res['test'] == 1]

         Prediction        Actual  test
71407  dissatisfied  dissatisfied     1
72827  dissatisfied  dissatisfied     1
8559   dissatisfied  dissatisfied     1
58465  dissatisfied  dissatisfied     1
70326  dissatisfied  dissatisfied     1
...             ...           ...   ...
17695     satisfied     satisfied     1
74939  dissatisfied  dissatisfied     1
28550     satisfied     satisfied     1
73489     satisfied     satisfied     1
82628     satisfied     satisfied     1

[28490 rows x 3 columns]

In [48]:
number_ok = test_res.loc[test_res['test'] == 1].count()[0]

In [72]:
# model_test_results["number_ok"] = test.loc[test['test'] == 1].count()[0]

In [57]:
model_test_results = pd.read_csv("model_test_results.csv")
model_test_results

,Model,Training Data Score,Testing Data Score,number_ok,number_nok
0,"tree, regular encoding",1.0,0.937110,27939,1875
1,"tree, one hot gender",1.0,0.935970,27905,1909
2,"tree, one hot all",1.0,0.936339,27916,1898
3,"tree, reg female",1.0,0.929285,14048,1069
4,"tree, reg male",1.0,0.940804,13827,870
5,"tree, reg business",1.0,0.951193,19606,1006
6,"tree, reg personal",1.0,0.920026,8467,736
7,"tree, reg loyal",1.0,0.942604,23583,1436
8,"tree, reg disloyal",1.0,0.913869,4382,413
9,"tree, reg business",1.0,0.958129,13890,607
10,"tree, reg eco",1.0,0.914571,12001,1121
11,"tree, reg eco plus",1.0,0.913440,2005,190

In [ ]:
eco_plus

In [58]:
model_test_results = model_test_results.append([{"Model": "forest, regular, all", "Training Data Score": training_score, "Testing Data Score": testing_score, "number_ok": number_ok, "number_nok": number_nok}])

In [59]:
model_test_results = model_test_results.reset_index(drop=True)

In [52]:
# model_test_results = model_test_results.drop([0])

In [171]:
# del model_test_results["index"]

In [60]:
model_test_results

,Model,Training Data Score,Testing Data Score,number_ok,number_nok
0,"tree, regular encoding",1.0,0.937110,27939,1875
1,"tree, one hot gender",1.0,0.935970,27905,1909
2,"tree, one hot all",1.0,0.936339,27916,1898
3,"tree, reg female",1.0,0.929285,14048,1069
4,"tree, reg male",1.0,0.940804,13827,870
5,"tree, reg business",1.0,0.951193,19606,1006
6,"tree, reg personal",1.0,0.920026,8467,736
7,"tree, reg loyal",1.0,0.942604,23583,1436
8,"tree, reg disloyal",1.0,0.913869,4382,413
9,"tree, reg business",1.0,0.958129,13890,607
10,"tree, reg eco",1.0,0.914571,12001,1121
11,"tree, reg eco plus",1.0,0.913440,2005,190
12,"forest, regular, all",1.0,0.955591,28490,1324

In [61]:
model_test_results.to_csv("model_test_results.csv", index=False)

In [40]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,
                            target_names=target_names))

                precision    recall  f1-score   support

     CANDIDATE       0.71      0.72      0.72       411
     CONFIRMED       0.74      0.75      0.75       484
FALSE POSITIVE       0.98      0.97      0.98       853

      accuracy                           0.85      1748
     macro avg       0.81      0.81      0.81      1748
  weighted avg       0.85      0.85      0.85      1748

# Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [62]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV

param_grid = {'n_estimators': [200, 400, 600]}

grid = GridSearchCV(model, param_grid, verbose=1)

In [63]:
# Train the model with GridSearch
grid.fit(X_train, y_train)

Fitting 5 folds for each of 3 candidates, totalling 15 fits

GridSearchCV(estimator=RandomForestClassifier(n_estimators=200),
             param_grid={'n_estimators': [200, 400, 600]}, verbose=1)

In [64]:
print(grid.best_params_)
print(grid.best_score_)

{'n_estimators': 600}
0.9560268957817893

In [65]:
# Make predictions with the hypertuned model
predictions = grid.predict(X_test)

In [66]:
print('Test Acc: %.3f' % grid.score(X_test, y_test))

Test Acc: 0.956

# Save the Model

In [40]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib

In [41]:
filename = 'model_forest_all.pkl'

In [ ]:
joblib.dump(model, filename)

In [74]:
test_row = X_train.iloc[1,:].copy()

In [75]:
test_row

Gender                                  1.0
Customer Type                           0.0
Age                                    40.0
Type of Travel                          0.0
Class                                   1.0
Flight Distance                      2322.0
Seat comfort                            2.0
Departure/Arrival time convenient       5.0
Food and drink                          5.0
Gate location                           5.0
Inflight wifi service                   2.0
Inflight entertainment                  2.0
Online support                          2.0
Ease of Online booking                  2.0
On-board service                        4.0
Leg room service                        4.0
Baggage handling                        4.0
Checkin service                         2.0
Cleanliness                             2.0
Online boarding                         2.0
Departure Delay in Minutes            250.0
Arrival Delay in Minutes              258.0
Name: 79798, dtype: float64

In [78]:
df.iloc[79585,:]

satisfaction                            dissatisfied
Gender                                          Male
Customer Type                         Loyal Customer
Age                                               40
Type of Travel                       Business travel
Class                                            Eco
Flight Distance                                 2322
Seat comfort                                       2
Departure/Arrival time convenient                  5
Food and drink                                     5
Gate location                                      5
Inflight wifi service                              2
Inflight entertainment                             2
Online support                                     2
Ease of Online booking                             2
On-board service                                   4
Leg room service                                   4
Baggage handling                                   4
Checkin service                                    2
Cleanliness                                        2
Online boarding                                    2
Departure Delay in Minutes                       250
Arrival Delay in Minutes                         258
Name: 79798, dtype: object

In [ ]:
# Generate a new data point
new_data = np.array([[-2, 6]])

In [ ]:
# Predict the class (purple or yellow) of the new data point
predictions = classifier.predict(new_data)
print("Classes are either 0 (purple) or 1 (yellow)")
print(f"The new point was classified as: {predictions}")

In [123]:
# Creating a Pandas DataFrame by passing in a LIST OF DICTIONARIES
deafault_dict = {"Gender": 0, 
           "Customer Type": 0, 
           "Age": 40,
           "Type of Travel": 0, 
           "Class": 1, 
           "Flight Distance": 2000,
           "Seat comfort": 3, 
           "Departure/Arrival time convenient": 3, 
           "Food and drink": 3,
           "Gate location": 3, 
           "Inflight wifi service": 3, 
           "Inflight entertainment": 3,
           "Online support": 3, 
           "Ease of Online booking": 3, 
           "On-board service": 3, 
           "Leg room service": 3, 
           "Baggage handling": 3,
           "Checkin service": 3, 
           "Cleanliness": 3, 
           "Online boarding": 3, 
           "Departure Delay in Minutes": 250, 
           "Arrival Delay in Minutes": 258}

In [87]:
len(deafault_dict)

22

In [90]:
deafault_dict.values()

dict_values([0.0, 0.0, 40.0, 0.0, 1.0, 2000.0, 2.0, 5.0, 5.0, 5.0, 2.0, 2.0, 2.0, 2.0, 4.0, 4.0, 4.0, 2.0, 2.0, 2.0, 250.0, 258.0])

In [79]:
deafault_list=[1.0, 0.0, 40.0, 0.0, 1.0, 2322.0, 2.0, 5.0, 5.0, 5.0, 2.0, 2.0, 2.0, 2.0, 4.0, 4.0, 4.0, 2.0, 2.0, 2.0, 250.0, 258.0]

In [124]:
# inputs
Gender = 1
Customer_Type = 0
Age = 40
Type_of_Travel = 0
Class = 1
Flight_Distance = 2322

1

In [125]:
# replace the first five 
deafault_dict["Gender"] = Gender
deafault_dict["Customer Type"] = Customer_Type
deafault_dict["Age"] = Age
deafault_dict["Type of Travel"] = Type_of_Travel
deafault_dict["Class"] = Class
deafault_dict["Flight Distance"] = Flight_Distance

In [116]:
# new_data = list(deafault_dict.values())

In [126]:
# OR
new_data = [*deafault_dict.values()]

In [42]:
#load trained model
# trained_model = joblib.load(filename)

In [127]:
# Generate a new data point
new_data = np.array(new_data)

In [130]:
new_data

array([[   1,    0,   40,    0,    1, 2322,    2,    5,    5,    5,    2,
           2,    2,    2,    4,    4,    4,    2,    2,    2,  250,  258]])

In [129]:
new_data = new_data.reshape(1, -1)

In [131]:
prediction = trained_model.predict(new_data)

In [132]:
prediction[0]

'dissatisfied'